@model SporSalonu.Models.dersmodel

@{
    ViewData["Title"] = "Derssil";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<body>
    <div class="fh5co-parallax" style=" background-image: url(/tema/images/home-image-3.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
                    <div class="fh5co-intro fh5co-table-cell animate-box">
                        <h1 class="text-center">DERS Sİl</h1>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="padding-left: 15px; margin-top:15px;">
        <a href="/Members/Index" class="btn btn-default" style="background-color:#f79a06">DERS Listesine Dön</a>
        <!--<a style="color:red;font-size:large" asp-action="Index">Üye Listesine Dön</a>-->
    </div>

    <div id="fh5co-programs-section">
        <div class="container center-block">
            <div class="row">
                <div class="col-md-4">
                    <div class="heading-section  animate-box">

                        <h3>Bu kaydı silmek istiyor musun?</h3>
                        <h4>dersmodel</h4>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.ders_id)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.ders_id)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.ders_kodu)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.ders_kodu)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.ders_adi)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.ders_adi)
                            </dd>
                        </dl>

                        <form asp-action="Derssil">
                            <input type="submit" value="Delete" class="btn btn-danger" /> |
                            <a asp-action="Index">Back to List</a>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        </body>
